body {
  background-color: rgb(70, 71, 88);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}
.table {
  --bs-table-bg: rgb(106, 107, 124);
}

main {
  flex: 1;
}
.product,
tr {
  border: 1px solid;
  height: 2rem;
}

.login {
  background-color: #c4c4c4;
  width: 50%;
  height: 15rem;
  margin-left: auto;
  margin-right: auto;
}

.login-form {
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
  align-content: center;
}

button:hover {
  opacity: 0.8;
  background-color: rgb(242, 81, 81);
  color: #ffffff;
}
