body {
  background-color: rgb(70, 71, 88);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

.table {
  --bs-table-bg: rgb(141, 142, 154);
}

main {
  flex: 1;
}
.product,
tr {
  border: 1px solid;
  height: 2rem;
}

.login {
  background-color: #c4c4c4;
  width: 50%;
  height: 15rem;
  margin-left: auto;
  margin-right: auto;
}

.login-form {
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
  align-content: center;
}

.my-custom-button {
  background-color: black;
  outline-color: #ffffff;
  border-color: #c4c4c4;
  padding: 10px;
  width: 40%;
  font-size: large;
}

.my-custom-button:hover {
  background-color: #ffffff;
  color: black;
}

.small-container {
  max-width: 600px;
}

.sortable-header {
  cursor: pointer;
}

.matching-field::selection {
  --bs-highlight-color: rgb(196, 235, 134);
  --bs-highlight-bg: rgb(73, 70, 255);
}

::selection {
  background-color: rgb(117, 128, 128);
  color: rgb(0, 0, 0);
}

input {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.my-max-width {
  max-width: 350px;
}
